<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- Dao를 Mapper Interface로 대체 할 예정, namespace=Class의 풀네임 선언 필요 -->
<mapper namespace="com.multi.mvc.member.model.mapper.MemberMapper">
	<resultMap type="Member" id="memberResultMap">
		<result property="mno" column="MNO"/>
		<result property="id" column="ID"/>
		<result property="password" column="PASSWORD"/>
		<result property="name" column="NAME"/>
		<result property="status" column="STATUS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="modifyDate" column="MODIFY_DATE"/>
	</resultMap>
	
	<select id="selectCount" resultType="int">
		SELECT COUNT(*) FROM MEMBER
	</select>
	
	<select id="selectAll" resultMap="memberResultMap" >
		SELECT  
			*
		FROM MEMBER
	</select>
	
	<!-- PK(기본키)로 조회하는 쿼리 -->
	<select id="selectMember" resultMap="memberResultMap" parameterType="int">
		SELECT  
			*
		FROM MEMBER WHERE MNO = #{mno}
	</select>
	
	<!-- 로그인때 사용할 select문 -->
	<select id="selectMemberById" resultMap="memberResultMap" parameterType="String" >
		SELECT  
			*
		FROM MEMBER WHERE ID = #{id} AND STATUS ='Y' 
	</select>
	
	<insert id="insertMember" parameterType="Member" >
		INSERT INTO MEMBER (
		    mNO, ID, PASSWORD, ROLE, NAME, 
		    STATUS, 
		    ENROLL_DATE, MODIFY_DATE
		) VALUES(
		    0, #{id}, #{password}, DEFAULT, #{name}, 
		    DEFAULT,
		    DEFAULT, DEFAULT
		)
	</insert>
	
	 <update id="deleteMember" parameterType="int">
	 	UPDATE MEMBER 
	 		SET STATUS = 'N'
	 	WHERE mNO = #{mno}
	 </update>
	 
	 
	 <select id="snameMemberCount" parameterType="String" resultType="int">
	 	SELECT COUNT(*) FROM MEMBER
	 	WHERE NAME LIKE CONCAT ('%', #{inputval}, '%')
	 </select>
	 
	 <select id="snameMember" parameterType="String" resultMap="memberResultMap">
	 	SELECT * FROM MEMBER
	 	WHERE NAME LIKE CONCAT ('%', #{inputval}, '%')
	 </select>
	 
	
</mapper>



